:root {
  --default-gray: #383838;
  --clear-orange: rgba(255, 126, 41, 0.8);
  --text-yellow: #d4f462;
  --dark-gray: #1f1f1f;
  --darker-white: #bdbdbd;
  --dark-blue: #000080;
}


body {
  background-color: var(--default-gray);
}


p{
  padding-left: 2em;
  color: var(--text-yellow);
  font-size: 130%;
}
p::selection {
  background-color: var(--clear-orange);
  color: var(--default-gray);
}


.bigText {
  text-align: center;
  color:GoldenRod;
  font-size: 200%;
  letter-spacing: 10px;
  /*direction: rtl;*/
  font-weight: bold;
}

a.no-underline {
  text-decoration: none;
}
h1.glowing {
  text-align: center;
  font-family: 'Gayathri', sans-serif;
  font-size: 400%;
  background-image:repeating-linear-gradient(45deg, #eb4034,#eb8334,#eaff00,#33ff41,#339cff,#6e40f7,#bf00d9,#eb4034);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--default-gray);
  -webkit-text-stroke: 3px transparent;


  animation: rainbow_scroll 5s ease infinite;
  /*-webkit-text-stroke: 1px #d4f462;
  color: #d4f462;
  color: #383838;*/
}
.under-development {
  background-image: repeating-linear-gradient(-45deg,
      transparent 0 20px,
      rgba(255, 126, 41, 0.8) 20px 40px);
  padding: 20px;
}
div.under-development * {
  font-family: 'Gayathri', sans-serif;
  font-weight: bolder;
  font-size: 160%;
  color: var(--dark-gray);
  text-shadow:
    1px 1px 0 var(--darker-white),
    -1px -1px 0 var(--darker-white),
    1px -1px 0 var(--darker-white),
    -1px 1px 0 var(--darker-white),
    1px 1px 0 var(--darker-white);
}
div.under-development *::selection {
  background-color: var(--default-gray);
  color: var(--darker-white);
  text-shadow: none;
}

.links {
  background-color: var(--dark-blue);
  font-size: 200%;

}
div.links * {
  color: var(--darker-white);
  font-weight: bolder;
  font-kerning: none;
  text-align: center;
  text-decoration: underline;
  padding-top: 0.1em;
  margin-top: 0.4em;
  padding-bottom: 0.4em;
}


@keyframes rainbow_scroll {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
